## /etc/tmux.conf
# Terminal multiplexer

### Keybindings
set -g prefix F1
bind F1 send F1				# Send unescaped

bind -n F3 select-window -p
bind -n F4 select-window -n
bind F3 send F3
bind F4 send F4

bind | split-window -h
bind - split-window -v
bind R source-file /etc/tmux.conf \; display-message "Reloaded config"

set assume-paste-time 50		# Ignore fast escape combos (copy/paste) (ms)

### Window Settings
set -gw aggressive-resize on            # Constrain window size to max of client connected to window

set -gw window-status-current-bg cyan   # Highlight cur window
set -g renumber-windows on		# Renumber when window closes

set -gw monitor-activity on             # Highlight bg window if activity
set -gw visual-activity on              # newer tmux

set -g status-left ''           # Status Bar
set -g status-right '[#h]'
set -g status-utf8 on

set -g set-titles on                    # Control title of client xterm
set -g set-titles-string '#T (#W@#h)'

### SSH agent handling
# Sync these vars upon attach
set -g update-environment \
	"DISPLAY WINDOWID XAUTHORITY SSH_ASKPASS SSH_AGENT_PID SSH_CONNECTION"
setenv -g SSH_AUTH_SOCK $HOME/.ssh/agent.sock	# symlink: see /etc/bash.bashrc

{{ tmux_extra_cfg }}

